/*
Custom CSS for Lava Creek Theme

    - Footer
    - Front Page
    - Page
    - Widgets

*/
:root {
    --white: #f5f5f5;
    --hoverWhite: #cfcfcf;
}

/* Footer
--------------------- ***/
#footer {
    padding-top: 1.618rem;
}
.social-icons-footer a {
    /* Color of FontAwesome */
    color:var(--white);
}
.social-icons-footer a:hover {
    /* Color of FontAwesome on :hover */
    color:var(--hoverWhite);
}

.footer-grid .widget img {
    /* Aligns content in footer widgets */
    margin: 0 auto;
    display: block;
}
.footer-grid {
    width: 90%;
    margin: 0 auto;
}
.footer-container,
.footer {
    background-color: #2c3840;
}
.footer-container {
    width: 100%;
}
.footer-credentials {
    margin-top: 1.618rem;
}

/* Front Page
--------------------- ****/
#top-cta .card {
    border: none;
    background: transparent;
}
#enews-fp.card, #enews-fp.input-group {
    margin-bottom: 0 !important;
}


.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: transparent;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    display: flex;
    justify-content: center;
    z-index: 100;
    position: absolute;
    /*background: rgba(0, 0, 0, 0.4);*/
    width: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.618em;
}
.callout.secondary.ease.video-cta {
    width: 100%;
    margin-left: 1em;
}
button.button.video-cta-button {
    padding: 1rem;
}

.video-container video {
   /* position: absolute;*/
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}

.video-container video.fillWidth {
    margin-bottom: -10px;
}
.homepage-hero-module {
    /*Soft edge applied to full screen video on front page*/
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.5), 1px -1px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.5), 1px -1px 3px rgba(0,0,0,.5);
    box-shadow: 1px 1px 3px rgba(0,0,0,.5), 1px -1px 3px rgba(0,0,0,.5);
    margin-top: 1.618rem;
}
/*
---------------------- ****/
#item-row-fp {
    margin-top: 1.618rem;
}

/* Widgets
---------------------- ****/
h3.imagetitle {
    font-size: 1.5rem;
}
